// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  @include clearfix;

  @include media-breakpoint-up(sm) {
    @include border-radius($navbar-border-radius);
  }
}


// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// A static, full width modifier with no rounded corners.
.navbar-full {
  z-index: $zindex-navbar;

  @include media-breakpoint-up(sm) {
    @include border-radius(0);
  }
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @include media-breakpoint-up(sm) {
    @include border-radius(0);
  }
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}

//  Provide empty space on top for scrolling page
.navbar-fixed-empty {
  background: white;
  padding-top: 90px;
}


.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: $zindex-navbar-sticky;
  width: 100%;

  // Undo the rounded corners
  @include media-breakpoint-up(sm) {
    @include border-radius(0);
  }
}

//
// Navbar background color
//

// Darck color in Primary Color 1 (for white logo)
// .navbar-color1 {
//   background-color: $peach-1;
// }

// // Light color in Primary Color 2 (for black logo)
// .navbar-color2 {
//   background-color: $peach-2;
// }
// // Navin Mock-up version
// .navbar-color-mockup {
//   background-color: #4A4E6B;
// }
//Navbars using new colour scheme

.navbar-peach-main{
  background-color: $peach-main-dark;
};
.navbar-peach-orange{
  background-color: $peach-orange-dark;
};
.navbar-peach-grey{
  background-color: $peach-grey-dark;
};
.navbar-peach-navy{
  background-color: $peach-navy-dark;
};
.navbar-peach-purple{
  background-color: $peach-purple-dark;
};
.navbar-peach-mint{
  background-color: $peach-mint-dark;
};
.navbar-peach-sand{
  background-color: $peach-sand-dark;
};
.navbar-peach-blue{
  background-color: $peach-blue-dark;
};
.navbar-peach-green{
  background-color: $peach-green-dark;
};



//
// Brand/project name
//

.navbar-brand-padding {

  padding-left:100px;
  padding-top:5px;
  padding-bottom:5px;

  @include hover-focus {
    text-decoration: none;
  }

  > img {
    display: block;
  }
}

.navbar-divider {
  float: left;
  width: 1px;
  padding-top: .425rem;
  padding-bottom: .425rem;
  margin-right: $navbar-padding-horizontal;
  margin-left:  $navbar-padding-horizontal;
  overflow: hidden;

  &::before {
    content: "\00a0";
  }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// Bootstrap JavaScript plugin.

.navbar-toggler {
  padding: .5rem .75rem;
  font-size: $font-size-lg;
  line-height: 1;
  background: none;
  border: $border-width solid transparent;
  @include border-radius($btn-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

// Custom override for
.navbar-toggleable {
  &-xs {
    @include media-breakpoint-up(sm) {
      display: block !important;
    }
  }
  &-sm {
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  &-md {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
}


// Navigation
//
// Custom navbar navigation built on the base `.nav` styles.

.navbar-nav {
  // padding: 50px;
  .nav-item {
    float: left;
    padding: .225rem;
    font-weight: 200;
  }
  .nav-link {
    display: block;
    padding-top:    .225rem;
    padding-bottom: .225rem;
    color: white;
    @include hover-focus {
      color: $peach-1;
    }

    + .nav-link {
      margin-left: 1rem;
    }
  }

  .nav-item + .nav-item {
    margin-left: 1rem;
  }
}

.navbar-item-padding {
  padding-top:1rem;
  padding-right: 2rem;
  float:right;
}

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(0,0,0,.075);
  }
}

// White links against a dark background
.navbar-dark {

  .navbar-brand {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: white;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}




// Dark links against a light background
.navbar-peach-main {
  .navbar-brand {
    color: white;

    @include hover-focus {
      color: white;
    }
  }

  .navbar-nav {
    .nav-link {
      color: white;

      @include hover-focus {
        color: gray;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(0,0,0,.075);
  }
}
